/*======================================
*   HEADER
======================================*/
.nav-container {
  border-top: 15px solid #297A38;
  font-size: 16px;
}
.logo {
  float: left;
  font-size: 28px;
  line-height: 100%;
  position: relative;
  z-index: 1;
}
.logo img {
  width: auto;
  height: 25px;
  max-width: none;
}
@media (max-width: 1300px) {
  .logo img {
    /* height: 55px; */
  }
}
@media (max-width: 991px) {
  .logo img {
    padding: 0;
  }
}
.logo img.small {
  margin: 5px;
}
.newloghi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 0px;
  float: left;
  align-items: center;
}
.newloghi a {
  text-decoration: none !important;
}
.newloghi a:nth-child(1) {
  padding-right: 12px;
}
.newloghi a:nth-child(1) > img {
  height: 54px;
}
.newloghi a:nth-child(2) {
  padding-left: 12px;
}
#header.header-sticky .newloghi img {
  height: 45px;
}
@media (max-width: 620px) {
  #header-wrap {
    padding: 0 15px !important;
  }
  .newloghi img {
    height: 20px;
  }
  #header.header-sticky .newloghi img {
    height: 40px;
  }
}
.layout-home .nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.layout-main .nav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
